.App {
  text-align: center;
  background-color: #dadada;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: dadada;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myButton{
        display: "flex";
        align-items: "center";
        justify-content: "center";
        height: "44px";
        padding: "0 25px";
        margin-left: "10px";
        box-sizing: "border-box";
        border-radius: 0; 
        border: 0px;
        background: none;
        color: "#fff";
        transform: "none";
        box-shadow: "6px 6px 0 0 #c7d8ed";
        transition: "background .3s,border-color .3s,color .3s";
}

.myButton.label{

  text-transform: 'capitalize',

}

.myButton:hover{
    
      background-color:  "#4f25f7"
  
}

button.text-purple{
  color: #7E57C2 !important;
  margin-left:"2px" !important;
  background-color: "transparent" !important;
  border-color: "transparent" !important;
}
